<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
        {% block title %}Mon CV{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <!-- feuille de style css -->
        <link rel="stylesheet" href="{{ asset('style.css') }}" />
        <link href="https://fonts.googleapis.com/css?family=Amiri" rel="stylesheet">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">


    </head>
    <body>
    {% block nav %}
        <header>
            <div class="container-fluid">
                <div class="row ">
                    <nav class="navbar fixed-top navbar-expand-lg navbar-light white-bg">
                        <a class="navbar-brand" href="{{ path('presentation_show') }}">Navbar</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-end"  id="navbarNav">
                            <ul class="navbar-nav ">
                                <li class="nav-item active">
                                    <a class="nav-link" href="{{ path('about_me_show') }}">A propos de moi <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('resume_show') }}">Résumé</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('skills_show') }}">Compétences</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('portfolio_show') }}">Portfolio</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('ma_veille_show') }}">Ma veille</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('contact_show') }}">Me contacter</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
    {% endblock %}
    {% block body %}{% endblock %}
    {% block footer %}
        <footer class="fixed-bottom">
            <div class="container-fluid">
                <div class="row justify-content-end">
                    <div class="col-md-3 ">
                        <ul class="pull-right footer-ul justify-content-end">
                            <li>Follow Me :</li>
                            <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                            <li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    {% endblock %}
        {% block javascripts %}{% endblock %}
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    </body>
</html>
