{% extends 'base.html.twig' %}

{% block body %}
    <h1>Formations list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Datededebut</th>
                <th>Datedefin</th>
                <th>Intitule</th>
                <th>Institu</th>
                <th>Lieu</th>
                <th>Contenu</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for formation in formations %}
            <tr>
                <td><a href="{{ path('formation_show', { 'id': formation.id }) }}">{{ formation.id }}</a></td>
                <td>{% if formation.dateDeDebut %}{{ formation.dateDeDebut|date('Y-m-d') }}{% endif %}</td>
                <td>{% if formation.dateDeFin %}{{ formation.dateDeFin|date('Y-m-d') }}{% endif %}</td>
                <td>{{ formation.intitule }}</td>
                <td>{{ formation.institu }}</td>
                <td>{{ formation.lieu }}</td>
                <td>{{ formation.contenu }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('formation_show', { 'id': formation.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('formation_edit', { 'id': formation.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('formation_new') }}">Create a new formation</a>
        </li>
    </ul>
{% endblock %}
