{% extends 'base.html.twig' %}

{% block body %}
    <h1>Passions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for passion in passions %}
            <tr>
                <td><a href="{{ path('passions_show', { 'id': passion.id }) }}">{{ passion.id }}</a></td>
                <td>{{ passion.titre }}</td>
                <td>{{ passion.contenu }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('passions_show', { 'id': passion.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('passions_edit', { 'id': passion.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('passions_new') }}">Create a new passion</a>
        </li>
    </ul>
{% endblock %}
