{% extends 'base.html.twig' %}

{% block body %}
    <h1>Passion</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ passion.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ passion.titre }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ passion.contenu }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('passions_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('passions_edit', { 'id': passion.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
